:root {
    --red: #B13D14;
    --light-peach: #f9f2eb;
    --dark-brown: #340701;
    --deep-red: #9C1A04;
    --peach: #FFD7C1;
    --black: #090400;
    --white: #e6e6e6;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-peach);
    margin: 0;
    padding: 0;
    color: var(--dark-brown);
    background-color: var(--light-peach);
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px; 
}

header {
    background: var(--light-peach);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--peach);
}

nav a {
    color: var(--dark-brown);
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 600;
}

nav a:hover {
    color: var(--red);
    text-decoration: underline;
}
.project-detail {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

.project-hero {
    text-align: center;
}

.project-hero img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}

.subtitle {
    color: var(--red);
    margin-bottom: 1rem;
}

.project-description,
.project-process,
.project-gallery {
    margin-top: 3rem;
}

.project-process img{
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 1rem 1rem 2rem 0;
    object-fit: cover;
}

.project-process img + img{
    margin-top: 1rem;
}

.process-step {
    margin-bottom: 3rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
}

.gallery-grid iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.back-link {
    display: block;
    margin: 4rem 0 2rem;
    text-align: center;
    text-decoration: none;
    color: var(--red);
    font-weight: 600;
}

footer {
    background: var(--dark-brown);
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    .process-step img {
      display: inline-block;
      margin-right: 1rem;
      vertical-align: top;
    }
    .gallery-grid {
        position: relative;
        columns: 1;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-grid img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
}